body {
font-family: 'Alegreya Sans', sans-serif;
    font-size: 17px;
    color: #2c3e50;
    height: 100%;
}

li.active-re a { 
    color: #3498db !important; 
}

.navbar-brand {
font-size: 23px;
}

a.navbar-brand:hover {
     color: #3498db !important;    
}

.blue-under {
border-bottom: 2px solid #3498db;
}

#home {
margin-top: 0px;
}

.jumbotron {
 background-color: #4656a0 !important; 
    
}

.brand {
margin-left: -115px; 
}

.row-re {
margin-top: -120px; 
}

#jumbotron strong {
font-size: 30px;
}

.jumbotron .container-logo {
padding: 180px 420px 120px;
background-image: url('../images/reacteurope.png');
background-size: 278px;
background-repeat: no-repeat;
background-position: 650px 40px;

}


#text-re {
font-size: 70px;
}

#minitext-re {
font-size: 20px;
    margin-top: -10px;
    margin-left: 70px;
}

.btn-info {
margin-top: 21px;
}

.btn-lg {
padding: 18px 40px;
font-size: 25px;
line-height: 1.33;
border-radius: 10px;
}

#about a {
color: rgb(224, 126, 36);
}

section#about {
    background: #2c3e50;
    color: #FFFFFF;
    margin-top: -30px;
    padding-bottom: 60px;
}

h2.title {
    text-align: center;
    font-size: 50px;
    margin: 60px 0px 30px;
    color: #2c3e50;
}

h2.thin {
font-weight: 300;
}

#about h2 {
color: #FFFFFF;
}

section#about>div {
font-size: 22px;
}


.img-circle{
    width:100px;
    height:100px;
    background: #e7e7e7;
}

section#speakers {
    padding-bottom: 40px;
}

.speaker {
    min-height: 130px;
}

.media-heading {
font-size: 26px;
margin: 0px 0px 5px;
font-weight: bolder;
}

.media-heading:hover {
cursor: pointer;
}

.media-sub {
margin: 0px 0px 8px;
font-size: 20px;
font-weight: 500;

}

section#getting-there {
background-color: #f0f0f0;
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
    padding-bottom: 70px;
    position:relative;
}

#map-dialog{
    position: absolute;
    top: 280px;
    background: #FFF;
    padding: 15px;
}

#location-address a {
    color: #173075;
}

#location-address a:hover {
 text-decoration: none;
}

.panel-title a {
height: 55px;
line-height: 55px;
display: block;
color: #000;
padding: 0 30px;
font-size: 22px;
    text-decoration: none;
}

span.calendar-day {
font-weight: bolder;
    margin-left: 5px;
}

.panel-default {
border-color: #FFFFFF;
}

.panel-heading {
padding: 0px; 
border-bottom: 2px solid #173075 !important;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
}

.fa-calendar {
color: rgb(224, 126, 36);
}

.pull-right {
margin-top: 12px;
}

.media a:hover {
text-decoration: none;
}

.media-left-re { 
    width: 150px;
height: 200px;
    padding: 15px;
    background-color: rgb(54,69,80);
}

.img-circle-re {
    border: 4px solid rgb(224, 126, 36);
}

.media-icons {
    padding: 5px;
}

.media-icons {
    padding: 10px;
    color: rgb(224, 126, 36);
}

.media-body-re {
margin-right: 20px;
}

.media-heading-re {
    color: #000;
    margin: 0px 0px 12px 0px;
    letter-spacing: 2px;
}

.media-body p {
color: #777;
}

.foot div{
display: inline-block;
}

.foot .name {
font-weight: bolder;
color: #5f5f5f;
}

.foot div:after {
content: '|';
margin: 0px 15px;
color: #ebebeb; 
font-weight: 400;
font-size: 18px;
}

.foot div:last-child:after {
display: none;
}

.name i {
color: rgb(224, 126, 36);
font-size: 20px;
    margin-right: 5px;
}

.foot .pro {
color: #5f5f5f;
}

.foot .links a{
color: #9f9f9f;
padding-right: 15px;   
}

.media-container {
padding-top: 20px;
}

.schedule-table thead {
background-color: #2c3e50;
color: #FFFFFF;
font-size: 25px;
text-transform: uppercase;
}

.schedule-table .special {
background-color: rgb(224, 126, 36);
    color: #FFFFFF;
    text-align: center;
}

.table {
    margin-bottom: 0px; 
}

.table > thead > tr > th {
text-align: center;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > td {
border: 2px solid #FFFFFF !important;
}

.table-re {
margin-top: 30px;
}

section#schedule {
padding-bottom: 50px;
}

section#sponsors {
background-color: #f0f0f0;
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
padding-bottom: 70px;
}

#sponsors h4 {
color: rgb(224, 126, 36);
font-size: 15px;
font-weight: bolder;
letter-spacing: 2px;
margin-top: 70px;
text-align: center;
text-transform: uppercase;
}

#sponsors h2.title {
margin: 40px 0px 30px;
}

#sponsors h3{
text-align: center;
    color: rgb(224, 126, 36);
    font-weight: bolder;
}

#sponsors p {
text-align: center;
margin-top: 60px;
color: #2c3e50;
}

.btn-wrapper {
text-align: center;
}

.btn {
    position: absolute:
    top: 50%;
}

.orange-btn:hover {
background: rgb(227,138,57);
border-color: rgb(227,138,57);
}

.orange-btn {
font-size: 17px;
padding: 10px;
margin-top: 15px;
background: rgb(224, 126, 36);
border-color: rgb(224, 126, 36);
border-radius: 6px;

}

/*#footer {
    background-color: #2c3e50;
    padding-right: 30px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
    overflow:auto;
}*/

#footer div{
display: inline-block;
}

.code-re {
float:left;
font-size: 13px;
    margin-top: 25px;
}

.footer-social {
float:right;
     margin-top: 25px;
}

.footer-social a {
color: rgb(224, 126, 36);
margin-right: 10px;
}

.code-re a {
color: rgb(224, 126, 36);
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
}

#footer {
  height: 60px;
  background-color: #2c3e50;
}

#footer .container {
display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}





