body {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 17px;
    color: #2c3e50;
    overflow-x: hidden;
}

li.active a { 
    color: #3498db !important; 
}

.navbar-brand {
    font-size: 23px;
    color: #3498db !important;
}

.navbar-tickets {
    color:#3498db !important;
}

.navbar-right a:hover {
    background-color: #FFFFFF !important;
}

section#home {
    background-color: #4656a0;
    padding-top: 50px;
}

@media (min-width: 598px) and (max-width: 602px) {
    #logo-react {
        padding-top: 16px;
    }
}
@media (min-width: 319px) and (max-width: 321px) {
    #city{
        font-size: 12px;
    }
    .header-social a {
        color: white;
        margin-left: 7px;
        font-size: 10px;
    }

}
@media (max-width: 1024px) {
    .header-social{
        float:right;
        color: white;
    }
    .header-social a {
        color: white;
        margin-left: 7px;
        font-size: 10px;
    }
    #sponsors {
        text-align: center;
    }
}

@media (min-width: 992px) {
    .header-social{
        float:right;
        color: white;
    }
    .header-social a {
        color: white;
        margin-left: 10px;
        font-size: 12px;
    }

    .row {
        margin-left: 0px;
        margin-right: 0px;
    }

    #home #name-react  {
        line-height: 1.1em;
        font-size: 71px;
        color: #FFFFFF;
        text-align: right;
    }
    #home #date-react a {
        color: #FFFFFF;
        text-decoration: none;
    } 
    #home #date-react {
        font-size: 18px;
        margin-top: 0.7em;
        color: #FFFFFF;
        padding-left: 142px;
        text-align: right;
    }
   
    #map-dialog {
        position: absolute;
        top: 218px;
        background: #FFF;
        padding: 25px;
    }

    .img-circle{
        width:100px;
        height:100px;
        background: #e7e7e7;
    }
    
.sponsors-flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-justify-content: space-around;
  -moz-justify-content: space-around;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.flex-item-supporters {
  padding: 5px;
  max-width: 200px;
  max-height: 200px;
  margin-top: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

    
.sponsor-gold-wrapper-img {
  height: 100%;
  border: solid 1px #bdbdbd;
  background-color: #fff;
  display: table-cell;
  vertical-align: middle;
    padding: 30px 100px 30px 100px;
}
    
.sponsor-bronze-wrapper-img {
  border: solid 1px #bdbdbd;
  background-color: #fff;
  display: table-cell;
  vertical-align: middle;
    padding: 5px 50px 5px 50px;
}

.sponsor-logo-gold {
  width: 320px;
}
    
.sponsor-logo-diamond {
  margin-top: 40px;
  width: 500px;
}
    
.sponsor-logo-bronze{
  width: 160px;
}

.supporter-logo {
    max-width: 100px;
}

}

@media (max-width: 992px) {
    .supporter {
        margin-top: 10px;
    }
.sponsors-flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-justify-content: space-around;
  -moz-justify-content: space-around;
  -webkit-justify-content: space-around;
  justify-content: center;
}

    
.flex-item-sponsor {
  margin-top: 10px;
  line-height: 150px;
}
    
    
.sponsor-gold-wrapper-img {
  height: 100%;
  border: solid 1px #bdbdbd;
  background-color: #fff;
  display: table-cell;
  vertical-align: middle;
    padding: 5px;
}
    
.sponsor-bronze-wrapper-img {
  border: solid 1px #bdbdbd;
  background-color: #fff;
}

.sponsor-logo-diamond {
  width: 100%;
}
       
.sponsor-logo-bronze {
  width: 50%;
}

.supporter-logo {
    max-width: 75px;
}
    .row {
        margin-left: 0px;
        margin-right: 0px;
    }   
    #home {
    }
    #text-react{
        padding-top: 25px;
    }
    #home #text-react  {
        font-size: 54px;
        color: #FFFFFF;
        text-align: right;
    }

    #home #date-react a {
        color: #FFF;
        text-decoration: none;
    }
    #home #date-react {
        font-size: 20px;
        color: #FFFFFF;
        text-align: right;
        margin-top: -15px;
    }
    #logo-react {
        text-align: left;
    }
    #logo-react img{
        width: 150px; 
        height: 150px;
    }
    #about p {
        padding-left: 15px;
    } 
    #sponsors {
        text-align: center;
    }
    #map-dialog{
        background: #FFF;
        padding: 25px;
    }
    .img-circle{
        width:50px;
        height:50px;
        background: #e7e7e7;
    }
    .supporter {
        margin-top: 50px;
    }
}

@media (max-width: 767px) {
    #home {
        margin-top: 0px;
    }
    h2.title {
        font-size: 30px;
    }

    h3.media-heading {
        font-size: 22px;
    }

    h4.title {
        font-size: 15px;
    }
    .schedule-table thead {
        background-color: #2c3e50;
        color: #FFFFFF;
        font-size: 17px;
    }

}
@media (max-width: 768px) {
.sponsor-logo-diamond {
  width: 100%;
}
.sponsor-logo-gold {
  width: 70%;
  margin-top: 30px;
}
.flex-item-sponsor-diamond {
    width: 100%;
  line-height: 190px;
  text-align: center;
}
.gold-blurb {
    line-height: 1.0em !important;
    font-size: 12px;
    text-align: left !important;
    padding: 10px !important;
    margin: 0 !important;
}
.flex-item-sponsor-diamond, .flex-item-sponsor-diamond .front, .flex-item-sponsor-diamond .back {
	width: 100%;
	min-height: 190px;
    text-align: center;
}

.flex-item-sponsor-gold, .flex-item-sponsor-gold .front, .flex-item-sponsor-gold .back {
	width: 90%;
	min-height: 100px;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}


    .eventlama-ticker-btn{
        width: 225px !important;

    }
    #home{
        padding-bottom: 5px;
    }

    h2.title {
        font-size: 30px;
    }

    .media-left-re { 
        width: 75px;
        padding: 5px;
        background-color: #f5f5f5;
    }
    
    .media-left-reacteurope { 
        width: 75px;
        padding: 5px;
        background-color: #f5f5f5;
    }
    
    .media-left-square { 
            width: 75px;
            padding: 5px;
            background-color: #f5f5f5;
        }
        
    .container-media-icons {
        color: rgb(224, 126, 36);
        text-align: center;
        margin-top: 10px;
        font-size: 14px;
    }
    .img-circle-re {
        border: 2px solid rgb(224, 126, 36);
    }
    .img-square-re {
        border: 2px solid rgb(224, 126, 36);
    }

    #text-react{
        padding-top: 18px;
    }
    #home #text-react  {
        font-size: 23px;
        color: #FFFFFF;
        text-align: right;
    }
    #home #date-react a {
        color: #FFFFFF;
        text-decoration: none;
    } 

    #home #date-react {
        font-size: 16px;
        color: #FFFFFF;
        text-align: right;
        margin-top: -15px;
    }
    #logo-react {
        text-align: left;
        padding-top: 4px;
        padding-left: 0px;
    }
    #logo-react img{
        width: 100px; 
        height: 100px;
    }
    #about p {
        padding-left: 15px;
    } 
    #sponsors {
        text-align: center;
    }
    .flex-item-sponsor-bronze {
          margin-top: 10px;
          line-height: 90px;
        width: 152px;
        margin-left: 10px;
        }
    #map-dialog{
        background: #FFF;
        padding: 30px;
    }
    .img-circle {
        width:50px;
        height:50px;
        background: #e7e7e7;
    }
    #city {
        display: block;
    }
    .code-re {  
        margin-left: 15px;
    }
    
    .google-form {
        width: 280px; 
        height: 500px;
    }
    
}

@media (max-width: 320px) {
    #home #text-react  {
        font-size: 20px;
        color: #FFFFFF;
        text-align: right;
    }
}

@media (max-width: 568px) {
    #schedule .fa.pull-right {
        font-size: 15px;
        margin: 15px 0px 0px 5px;
    }

}

@media (min-width: 559px) and (max-width: 562px) {
    #home {
        margin-top: -100px !important;
    }
}


section#about {
    padding-bottom: 60px;
}

h2.title {
    text-align: center;
    margin: 60px 0px 30px;
    color: #2c3e50;
}

h2.thin {
    font-weight: 300;
}

section#about>div {
    font-size: 20px;
}


section#speakers {
    padding-bottom: 40px;
    background-color: #f0f0f0;
}

/*#speakers .speaker-img {
cursor: pointer;
}*/

    .speaker {
        margin-bottom: 20px;
    }

    .media-heading {
        margin: 0px 0px 5px;
        font-weight: bolder;
    }

    /*.media-heading:hover {
    cursor: pointer;
    }*/

    .media-sub {
        margin: 0px;
        font-size: 20px;
        font-weight: 500;

    }

    section#getting-there {
        padding-bottom: 70px;
        position:relative;
    }

    section#tickets {
        background-color: #f0f0f0;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding-bottom: 70px;
    }

    a#icon-calendar-link {
        text-decoration: none;
        margin: 0px 3px 0px 3px;
    }

    .row-ticket-info {
        margin-top: 40px !important;
    }

    .ticket-icon {
        color: #cacaca;
    }

    .service-heading {
        font-weight: bolder;
    }

    .eventlama-btn {
        color: #fff;
        background-color: #ec971f;
        border-color: #d58512;
        font-weight: bolder;
        border-radius: 3px;
        font-size: 20px;
        padding: 10px;
    }

    .eventlama-btn:hover {
        color: #fff;
        opacity: .75;
        transition: all .3s ease 0s;
    }

    .container-full {
        margin: 0 auto;
        width: 100%;
    }

    #location-address a {
        color: #173075;
    }

    #location-address a:hover {
        text-decoration: none;
    }

    .panel-title a {
        height: 55px;
        line-height: 55px;
        display: block;
        color: #000;
        padding: 0 15px;
        font-size: 22px;
        text-decoration: none;
    }

    span.calendar-day {
        font-weight: bolder;
        margin-left: 5px;
    }

    #schedule .fa.pull-right {
        padding-top: 7px;
    }

    .panel-default {
        border-color: #FFFFFF;
    }

    .panel-heading {
        padding: 0px; 
    }

    .fa-calendar-react {
        color: rgb(224, 126, 36);
    }

    .media a:hover {
        text-decoration: none;
    }

    @media (min-width: 768px) {
        .flex-item-sponsor-gold {
  margin-top: 10px;
  line-height: 150px;
}
        .sponsor-logo-gold {
  width: 70%;
}
.flex-item-sponsor-gold, .flex-item-sponsor-gold .front, .flex-item-sponsor-gold .back {
	width: 420px;
	height: 160px;
    text-align: center;
}
        .flex-item-sponsor-diamond .back p {
        margin-top: 8px !important;
            line-height: 1.2;
            text-align: left;
        }
        .flex-item-sponsor-gold .back p {
        margin-top: 8px !important;
            line-height: 1.2;
            text-align: left;
        }
        .flex-item-sponsor-diamond, .flex-item-sponsor-diamond .front, .flex-item-sponsor-diamond .back {
	width: 590px;
	height: 260px;
    text-align: center;
}
        .schedule-table thead {
            font-size: 25px;
        }
        .tickets-footer,
        .speakers-footer,
        .schedule-footer {
            margin-top: 50px;
        }
        h2.title {
            font-size: 39px;
        }
        .media-left-re { 
            width: 150px;
            padding: 15px;
            background-color: #f5f5f5;
        }
        .media-left-reacteurope { 
            width: 150px;
            padding: 15px;
            background-color: #f5f5f5;
        }
        .media-left-square { 
            width: 150px;
            padding: 5px;
            background-color: #f5f5f5;
        }
        
        .media-left:hover,.media-left-square:hover,
        .media-left-square:hover img {
        width: 500px;
        -webkit-transition: all 1s ease; /* Safari and Chrome */
        -moz-transition: all 1s ease; /* Firefox */
        -ms-transition: all 1s ease; /* IE 9 */
        -o-transition: all 1s ease; /* Opera */
        transition: all 1s ease;
        } 
         
        .container-media-icons {
            color: rgb(224, 126, 36);
            text-align: center;
            margin-top: 10px;
        }
        .img-circle-re {
            border: 4px solid rgb(224, 126, 36);
        }
        .img-square-re {
            border: 4px solid rgb(224, 126, 36);
        }
        .google-form {
            width: 600px; 
            height: 500px;
        }
                .ticket-modal {
            width: 700px;
        }
         .foot-speaker2 {
           float: right;
        }
        .foot-speaker1 {
           float: left;
        }
        .flex-item-sponsor-bronze {
          margin-top: 10px;
          line-height: 100px;
        }
        .supporters-flex-container {
          margin-top: -30px;
          list-style: none;
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-flex-flow: row wrap;
          justify-content: space-around;
        }
        .hvr-grow {
          display: inline-block;
          vertical-align: middle;
          -webkit-transform: translateZ(0);
          transform: translateZ(0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          -moz-osx-font-smoothing: grayscale;
          -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
          -webkit-transition-property: transform;
          transition-property: transform;
        }

        .hvr-grow:hover {
          -webkit-transform: scale(1.5);
          transform: scale(1.5);
        }

    }
 #talkModalBody .foot {
            text-align: center;
        }
       
        .foot div {
            display: inline-block;
        }
       

        #talkModalLabel {
            text-align: center;
        }
    .media-body-re {
        margin-right: 20px;
    }

    .media-heading-re {
        color: #000;
        margin: 0px 0px 12px 0px;
        letter-spacing: 2px;
    }
    .modal-body .media-heading-re {
        text-align: center;
    }
    .media-body p {
        color: #777;
    }


    .foot .name {
        font-weight: bolder;
        color: #5f5f5f;
    }

    .foot .name:after {
        content: '|';
        margin: 0px 5px;
        color: #ebebeb; 
        font-weight: 400;
        font-size: 18px;
    }

    .foot div:last-child:after {
        display: none;
    }

    .name i {
        color: rgb(224, 126, 36);
        font-size: 20px;
        margin-right: 5px;
    }

    .foot .links a{
        color: #9f9f9f;
        padding-right: 15px;   
    }

    .media-container {
        padding-top: 20px;
    }


    .schedule-table .special {
        background-color: #ecb17a;
        color: #FFFFFF;
        text-align: center;
    }

    .table {
        margin-bottom: 0px; 
    }

    .table > thead > tr > th,
    .table > tbody > tr > td {
        text-align: center;
        vertical-align: middle;
    }

    .table-re {
        margin-top: 30px;
    }

    section#schedule {
        padding-bottom: 50px;
    }

    section#sponsors {
        background-color: #f0f0f0;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding-bottom: 70px;
    }

    #sponsors h4 {
        color: rgb(224, 126, 36);
        font-size: 15px;
        font-weight: bolder;
        letter-spacing: 2px;
        margin-top: 70px;
        text-align: center;
        text-transform: uppercase;
    }

    #sponsors h2.title {
        margin: 40px 0px 10px;
    }

    #sponsors h3{
        text-align: center;
        color: rgb(224, 126, 36);
        font-weight: bolder;
    }

    #sponsors p {
        text-align: center;
        margin-top: 30px;
        color: #2c3e50;
    }

    .wrapper-btn {
        margin-top: 30px;
    }

    footer {
        background-color: #f0f0f0;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding: 30px 0;
    }

    .code-re {   
        float:left;
        font-size: 15px;
        margin-top: 8px;
    }
    .footer-social {
        float:right;
    }

    .footer-social a {
        margin-right: 10px;
    }

    .venue-logo {
        height:40px;
    }

    section#organizers {
        padding-bottom: 60px;
    }

    #organizers .img-circle-org {
        border: 1px solid rgb(224, 126, 36);
    }

    #organizers a {
        text-decoration: none;
    }

    #organizers .container>div {
        padding: 15px;
    }

    #react-date-link {
        border-bottom: dotted 2px white;
        margin: 0;
        display: inline;
    }
    @media (min-width: 598px) and (max-width: 602px) {
        #logo-react {
            padding-top: 16px;
        }
        #about p {
            font-size: 17px;
        }
        .header-social a {
            color: white;
            margin-left: 7px;
            font-size: 12px;
        }
    }

    .subtitle {
        text-align: center;
        margin-bottom: 30px !important;
    }

    .table-bordered > thead > tr > th,
    .table-bordered > tbody > tr > td {
        border: 2px solid #fafafd !important;
    }

/* modal diversity */
.ss-form-desc {
    text-align: left;
}

@media (min-width: 768px){
    .ticket-type {
        min-height: 150px;
    }
}

@media (max-width: 769px){
    .ticket-offset {
        padding-bottom: 5px;
    }
}

@media (min-width: 769px){

    .ticket-offset {
        margin-left: 6%;
        padding-bottom: 5px;
    }
}

.ticket-type-short {
    min-height: 55px;
}

.ticket-container {
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
    background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.6);
    -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.6);
    box-shadow:         0px 0px 8px rgba(0,0,0,0.6);
    position: relative;
    z-index: 90;
    margin-bottom: 30px;
}


.btn .badge {
    position: relative;
    top: -25px;
}

.badge-soldout {
    background-color: #3498db;
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 17px;
}

.folded h2 {
    background: #4656a0;
    background-image: radial-gradient(transparent 30%, rgba(0, 0, 0, 0.2));
    border: 0 solid rgba(0,0,0,0.2);
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-shadow: -1px -1px 1px rgba(0,0,0,0.2);
}

.folded:before, div.folded:after {
    bottom: 26px;
    content: "";
    height: 28px;
    position: absolute;
    width: 48%;
    z-index: 99;
}
.folded:before {
    left: 2%;
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
}
.folded:after {
    right: 2%;
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
}
.folded h2 {
    border-width: 1px 1px 2px;
    margin: 0;
    padding: 1px 20px;
    position: absolute;
    margin-top: 10px;
    z-index: 30;
    right: -15px;
}
.folded h2:after {
    border-width: 7px;
    border-style: solid;
    border-color: #134 transparent transparent #134;
    bottom: -15px;
    content: "";
    position: absolute;
    right: -1px;
}

.ticket-icon-bg {
    color: #f5f5f5;
}

#vertical-center-header {
    padding:15px 0px 15px 0px; display: -webkit-flexbox;   display: -ms-flexbox;   display: -webkit-flex;   display: flex;   -webkit-flex-align: center;   -ms-flex-align: center;   -webkit-align-items: center;   align-items: center;   text-align: center;
}

.media-body h4.media-heading, 
.media-left .image-speaker {
    cursor: pointer; 
}

.media-heading span {
    margin-left: 5px;
}

.plus-icon-schedule {
    float: right;
    margin-top: 17px;
}

.img-circle-speaker2 {
margin-top: 3px;
}

.time-label {
    color: #2c3e50;
}

.toggle-modal {
    cursor: pointer;
}

#workshop-title {
    font-weight: bolder;
}

.schedule-table thead {
    background-color: #eceef7;
    border-color: #dee1f1;
    color: #333;
}


.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
}

	.flip-container:hover .flipper,  
  .flip-container.hover .flipper {
		-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
		transform: rotateY(180deg);
	}


.flipper {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;

	-moz-transition: 0.6s;
	-moz-transform-style: preserve-3d;
  
  -o-transition: 0.6s;
	-o-transform-style: preserve-3d;

	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

.front, .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
	backface-visibility: hidden;
        border: solid 1px #bdbdbd;

	position: absolute;
	top: 0;
	left: 0;
}

.front {
	z-index: 2;
    background: white;
}

.back {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
	transform: rotateY(180deg);

	background: #f8f8f8;
}

.front .name {
	font-size: 2em;
	display: inline-block;
	background: rgba(33, 33, 33, 0.9);
	color: #f8f8f8;
	font-family: Courier;
	padding: 5px 10px;
	border-radius: 5px;
	bottom: 60px;
	left: 25%;
	position: absolute;
	text-shadow: 0.1em 0.1em 0.05em #333;

	-webkit-transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
	transform: rotate(-20deg);
}

.back-logo {
	position: absolute;
	top: 40px;
	left: 90px;
}


.back p {
	left: 0;
	right: 0;
	text-align: center;
	padding: 0 20px;
  line-height: 2em;
}

.back a {
    text-decoration: none;
}

.formation-link {
  font-weight: bold;
}

.media-left-square img {
    cursor: pointer;
    cursor: hand;
}